#left_contain {
  float: left;
  width: 20%;
  display: flex;
}

#list_name {
  list-style: none;
}

#list_value_data {
  padding: 5px 5px 5px 20px;
  border: 1px solid #c0c0c0;
  font-size: 12px;
  font-family: Arial;
  width: 10em;
  cursor: pointer;
  &.active {
    border: 1px solid #2a9fcd;
    background-color: #e7ebff;
    font-style: bold;
  }
}
